[user]
    name = David Costa
    email = me@scostadavid.dev
[core]
    editor = nano
[alias]
    pl = pull
    st = status
    co = commit
    br = branch
    ch = checkout
    df = diff
    sl = stash list
    sp = stash pop
