[user]
	name = scostadavid
	email = davidshcosta@gmail.com
[core]
    editor = vim

[alias]
    st = status
    co = commit
    br = branch
    ch = checkout
    log1l = log --oneline
    logg = log --graph
    log1lg = log --oneline --graph
    sl = stash list
    sp = stash pop 
