[user]
    name = scostadavid
    email = davidshcosta@gmail.com
[core]
    editor = vim

[alias]
    pl = pull
    st = status
    co = commit
    br = branch
    ch = checkout
    df = diff
    sl = stash list
    sp = stash pop 
    log-l = log --oneline
    log-g = log --graph
    log-lg = log --oneline --graph
